$josefin:'Josefin Sans',
sans-serif;
$aleo:'Aleo',
sans-serif;
$accent_color:#5373FD;
$accent_darker:#486BFE;
$dark_grey:#333333;

@mixin button($padding) {
    font: {
        family: $aleo;
        size: 14px;
        weight: 400;
    }

    color: #fff;
    letter-spacing: 1.4px;
    line-height: 20px;
    border: none;
    padding: $padding;
    text-transform: uppercase;
    background: linear-gradient(45deg, #486BFE 0%, #486BFE 35%, #5373FD 35%, #5373FD 100%);
    transition: all 0.3s ease-in-out;
    width: max-content;
    cursor: pointer;
}
html, body{
    font-family: $aleo;
    font-size: 20px;
    font-weight: 400;
    background-color: #333333;
}
.container{
    max-width: 1440px;
    width: 90%;
    margin: 0 auto;
}
.button_wrapper{
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
h2{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: $josefin;
    color: #fff;
    margin: 2em;
}
.button{
@include button(16px 24px)
}