.container {
  max-width: 1440px;
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

header {
  width: 80%;
  display: flex;
  margin: auto;
}

.line {
  width: 100%;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.1);
}

.logo_container {
  display: flex;
  padding: 22.5px 0;
}
.logo_container img {
  display: flex;
}

.logo_item {
  --empty:transparent;
}

.logo {
  width: 32px;
  height: 32px;
  margin-top: 7px;
  margin-right: 7px;
}

.logo_text {
  font-family: "Quicksand", sans-serif;
  font-size: 35px;
  font-weight: 500;
  color: #16133D;
  text-transform: capitalize;
}

main {
  width: 80%;
  margin: auto;
}

.main_section {
  display: flex;
  flex-direction: column;
  margin: 100px 0;
}
.main_section .upper_text {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #7690A8;
  text-transform: uppercase;
}
.main_section h1 {
  font-family: "Nunito Sans";
  font-size: 40px;
  font-weight: 600;
  color: #16133D;
  margin-top: 15px;
  margin-bottom: 40px;
}

.card_wrapper {
  display: flex;
  gap: 30px;
}

.megaphone {
  width: 40px;
  height: 36px;
}

.building {
  width: 38.5px;
  height: 36px;
}

.phone {
  width: 24.051px;
  height: 36px;
}

.icon {
  display: flex;
  width: 64px;
  height: 64px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 16px;
  justify-content: center;
  align-items: center;
}

.cards {
  padding: 40px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  max-width: 330px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}
.cards h4, .cards span {
  font-family: "Roboto", sans-serif;
  color: #16133D;
  font-size: 24px;
  font-weight: 400;
}
.cards span {
  font-size: 16px;
}
.cards p {
  color: #52C29D;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
}

.footer_wrapper {
  width: 80%;
  flex-direction: column;
  display: flex;
  justify-content: center;
  margin: auto;
}

footer {
  width: 100%;
  background-color: #16133D;
}
footer .logo_text {
  color: #fff;
}

ul {
  display: flex;
  gap: 10px;
}
ul li {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 38px;
  height: 38px;
  background-color: #fff;
  border-radius: 8px;
  margin-bottom: 40px;
}
ul svg {
  width: 20px;
  height: 20px;
}

.facebook {
  width: 10px;
  height: 18.5px;
}

.twitter {
  width: 20px;
  height: 16px;
}