.test{
    max-width: 944px;  
    margin:0 auto;
    width: 90%; 
}
header {
       background-color: #fff;
}

.nav_l{
    color: #828282;
    font-size: 18px;
    font-weight: 400;
    text-transform: capitalize;
    display: inline-block;
    padding: 25px 20px;
    text-shadow: #000 1px 1px 25px;
    
}

.nav_ul{
    font-size: 0;
    
}
.up_nav{
    border-bottom: #828282 1px solid;
    text-align: center;
}
.nav_l.active{
    color: #000;
}
.auther_name{
    padding: 33.5px 0 38.6px;
    text-transform: capitalize;
    font-size: 48px;
    font-weight: 700;
}
.denis_photo{
    max-width: 941px;
    padding: 0 0 100px;
}
.about{
    background-color: #F6F6F6;
    text-align: center;
    
}
.me{
    text-transform: capitalize;
    padding: 100px 0 29px;
    font-size: 34px;
    font-weight: 700;
}
.about_text{
    padding: 0 0 30px;
    font-size: 18px;
    font-weight: 400px;
}
.about_text:last-child{
    padding: 0 0 100px;
}
.program{
    display: inline-block;
    margin-right: 170px;
    vertical-align:top;
    text-align: center;
    
}
.program:last-child{
    margin-right: 0;
}
.skills{
    text-align: center;  
}
.sk{
    text-transform: capitalize;
    padding: 100px 0 44px;
    font-size: 34px;
    font-weight: 700;
}
.sk_txt{
color:#070707;
padding: 0 0 78.5px;
font-size: 18px;
    font-weight: 400px;
}
.program_photo{
    width: 89px;
    margin: 0 auto 25px;
    vertical-align: top;
}
.program_photo.figma{
height: 85px;
}
.list_name{
    color: #828282;
    font-size: 14px;
    font-weight: 400;
    width: 80px;
    margin: 0 auto;
    min-height: 90px;
}
.stars{
    margin-top: 60px;
    width: 100%;
    font-size: 0;
    padding: 0 0 83px;
}
.one_star{
    display: inline-block;
    width: 26px;
    height: 26px;
    background-repeat: no-repeat;
    background-image: url(../img/Star\ \(1\).svg);
}
.one_star:last-child{
    margin-right: 0;
}
.one_star.active{
    background-image: url(../img/Star.svg);
} 
.portfolio{
    text-transform: capitalize;
    font-size: 34px;
    font-weight: 700;
    padding: 119px 0 68px;
}
a{
    font-size: 18px;
    font-weight: 400;
    color: #000;
}
.container_photo{
    display: inline-block;
    max-width: 936px;
}
.f_img{
    padding: 0 0 15.5px;
}
.f{
    margin-bottom: 128px;
    display: block;
}
.r_img{
    padding: 0 0 8px;
}
.r{
    margin-bottom: 136px;
    display: block;
}
.m_img{
padding: 0 0 1px;
}
.m{
    margin-bottom: 101px;
    display: block;
}
.contacts{
    text-transform: capitalize;
    font-size: 34px;
    font-weight: 700;
}
.container{
    text-align: center;
}
.contacts{
    text-transform: capitalize;
    font-size: 34px;
    font-weight: 700;
    padding: 100px 0 21px;
}
.contact_text{
    padding: 0 0 78px;
    font-size: 18px;
    font-weight: 400px;
    max-width: 275px;
    display: inline-block;
    text-align: center;
}
#send{
    color: #FFF;
    background-color: #000;
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    width: 180.5px;
    height: 42px;
    border-radius: 20px;
}
.button_s{
    padding: 0 0 37px;
}
.social_list_item{
    display: inline-block;
    margin-right: 60px;
}
.social_list_item:last-child{
    margin-right: 0;
}
.social_photo{
    width: 39px;
    margin: 0 auto 44px;
}
.last_name{
    color: #828282;
    font-size: 14px;
    font-weight: 400;
    max-width: 243px;
    text-align: center;
    display: inline-block;
    padding-bottom: 159px;
}