.test{
    max-width: 944px;  
    margin:0 auto;
    width: 90%; 
}
header {
       background-color: #fff;
}

.nav_l{
    color: #828282;
    font-size: 18px;
    font-weight: 400;
    text-transform: capitalize;
    display: inline-block;
    padding: 25px 20px;
    text-shadow: #000 1px 1px 25px;
    
}

.nav_ul{
    font-size: 0;
    
}
.up_nav{
    border-bottom: #828282 1px solid;
    text-align: center;
}
.nav_l.active{
    color: #000;
}
.auther_name{
    text-transform: capitalize;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 50px;
}
.first_sec{
    margin-top: 33.5px;
}
.img_w{
    margin-top: 50px;
    width: 100%;
}