.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  margin: 2rem 2.5rem;
}

header {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  margin-bottom: 40px;
}
header h4 {
  text-transform: uppercase;
  font-family: Raleway;
  font-size: 18px;
  font-weight: 500;
  color: #898F8F;
}
header h1 {
  text-transform: uppercase;
  font-family: Roboto;
  font-size: 60px;
  font-weight: 900;
  color: #FC0;
  margin-top: 15px;
  margin-bottom: 50px;
}

.line_container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
}
.line_container .one_line {
  position: relative;
}
.line_container::before, .line_container::after {
  content: "";
  width: 210px;
  height: 1px;
  background-color: #FC0;
}
.line_container::before {
  left: 50%;
}
.line_container::after {
  right: 50%;
}

.image_container {
  display: flex;
  justify-content: center;
  width: 20px;
  height: 20px;
}
.image_container svg {
  margin: 0 auto;
  position: absolute;
}

.page_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.main_section {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-right: 85px;
}

.main_section_image {
  width: 400px;
  height: 400px;
  align-items: center;
  position: relative;
}
.main_section_image::before, .main_section_image::after {
  content: "";
  position: absolute;
  width: 100px;
  height: 100px;
  margin: -15px -15px;
  border: 1px solid #FC0;
  transform: rotate(-180deg);
}
.main_section_image::before {
  top: 0;
  left: 0;
  border-top-width: 0;
  border-left-width: 0;
}
.main_section_image::after {
  bottom: 0;
  right: 0;
  border-bottom-width: 0;
  border-right-width: 0;
}

.double_div {
  width: 400px;
  height: 400px;
  align-items: center;
}
.double_div::before, .double_div::after {
  content: "";
  position: absolute;
  width: 100px;
  height: 100px;
  margin: -15px -15px;
  border: 1px solid #FC0;
  transform: rotate(-180deg);
}
.double_div::before {
  top: 0;
  right: 0;
  border-top-width: 0;
  border-right-width: 0;
}
.double_div::after {
  bottom: 0;
  left: 0;
  border-bottom-width: 0;
  border-left-width: 0;
}

.text_section {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-left: 85px;
  flex-direction: column;
}
.text_section h3 {
  color: #666;
  font-size: 36px;
  font-weight: 900;
  font-family: Roboto;
  text-transform: capitalize;
  margin-bottom: 30px;
}
.text_section h4 {
  color: #666;
  text-transform: capitalize;
  font-size: 24px;
  font-weight: 400;
  font-family: Raleway;
  margin-top: 30px;
  margin-bottom: 30px;
}
.text_section span {
  color: #333;
  font-size: 14px;
  font-size: 500;
  font-family: Raleway;
  max-width: 430px;
  margin-top: 50px;
  margin-bottom: 20px;
}

.one_line {
  content: "";
  display: flex;
  margin: 10px auto;
  width: 100px;
  height: 1px;
  background-color: #FC0;
}

.image_wrapper {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
.image_wrapper svg {
  width: 30px;
  height: 30px;
  margin-right: 5px;
}
.image_wrapper svg:nth-last-child(1) {
  margin-right: 0;
}

.three_line-container {
  display: inline-block;
  margin-bottom: 25px;
  width: 50px;
  height: 4px;
  margin: 0 auto;
  margin-bottom: 25px;
  background: linear-gradient(to right, #FC0 0%, #FC0 20%, #fff 20%, #fff 30%, #FC0 30%, #FC0 70%, #fff 70%, #fff 80%, #FC0 80%, #FC0 100%);
}

.button_positioning {
  display: flex;
  justify-content: center;
}

#view {
  padding: 5px 10px;
  background-color: #fff;
  border: 1px solid #FC0;
  color: #666;
  font-family: "Open Sans";
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
}

.vertical_line {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 1px;
  height: 560px;
  background-color: #FC0;
}