html,
body {
    font-family: 'Monserrat';
    color: #2F281E;
}

header {
    max-width: 1440px;
    margin: auto;
    padding: 0 70px;
    position: fixed;
    left:0;
    top: 0;
    width: 100%;
}

main {
    max-width: 940px;
    padding: 10px 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: relative;
}
.nav_sidebar{
    padding: 20px 0;
    gap: 70px;
    align-self: flex-start;
    max-width: 385px;
}


.navi_head {
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
    gap: 40px;
    flex-wrap: wrap;
}

.logo {
    display: inline-block;
    max-width: 200px;
    min-width: 150px;
    align-self: flex-end;
    margin-left: auto;
}

.head_lang {
    font-family: 'tourney';
    text-transform: uppercase;
}

.head_nav_item {
    font-family: 'staatliches';
    display: inline;
    font-size: 23px;
}

a {
    color: #000;
    text-decoration: none;
}

.side_bar{
    display: flex;
    align-items: stretch;
    align-self: flex-start;
    position: sticky;
    left: 0

}

.head_name {
    font-family: 'Francois One';
    font-weight: 400;
    text-transform: capitalize;
    position: relative;
    top: 0;
    display: inline-block;
}
.nav_sidebar_item{
    font-family: 'Francois One';
    font-size: 36px;
    font-weight: 400;
    text-transform: capitalize;
    border-bottom: 1px solid #BDBDBD;
}

.numer {
    font-family: 'Farro';
    position: absolute;
    top: -10px;
    left: 100%;
    margin-left: 5px;
    width: 100px;
    height: 20px;
    font-size: 12px;
}

.main_text {
    font-family: 'PT Sans';
    font-weight: 400;
}
.main_sec{
    max-width: 765px;
}
.highlight{
    color: #000;
    background-color: #d8d8d8;
}
.name_wrapp{
    position: relative;
    display: inline-block;
}
.container_wrapp{
    display: flex;
}
.main_sec_wrapp{
    
    display: flex;
    flex-direction: column;
    gap: 40px;
}