html,body{
font-family:'Monserrat';
color: #2F281E;
}
.head_of{
    max-width: 1440px;  
    margin:0 auto;
    padding: 0 0 70px;
}
.head_of img{
    display: inline-block;
}
.site_h{
    display: inline-block;
}
.site_h ul{
    padding: 26px 198px;
}
.site_h li {
    display: inline-block;
    text-transform: capitalize;
    font-size: 16px;
    font-weight: 400;
    padding: 0 20px;
}
.site_h li:first-child{
    color: #F90;
}
button{
    display: inline-block;
    text-transform: capitalize;
    width: 110px;
    height: 46px;
}
.back_img {
    float: right;
    position: absolute;
    top: 0;
    left: 550px;

}
.main_txt{
    font-size: 44px;
    font-weight: 700;
    padding: 0 0 30px;
}
.first_sec{
    padding: 0 120px 0;
    height: 100vh;
    width: 100%;
}
.little_txt{
    font-size: 18px;
    font-weight: 400;
    color: #544837;
}
#sign_in{
    font-size: 16px;
    font-weight: 600;
    border: 1px solid #BCD0E5;
    border-radius: 5px;
    width: 110px;
    height: 46px;
}
#sign_up{
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    background-color: #F90;
    border: 1px solid #BCD0E5;
    border-radius: 5px;
    width: 110px;
    height: 46px;


}
#start{
    margin-top: 20px;
    font-family: 'Poppins';
    color: #fff;
    background-color: #F90;
    font-size: 16px;
    font-weight: 700;
    position: relative;
    border: 1px solid #BCD0E5;
    border-radius: 5px;
    width: 180px;
    height: 50px;
}
.container{
    max-width: 1200px;
    position: relative;
}
.text_part{
    position: absolute;
    top: 97px
}
