@font-face {
    font-family: 'Gotham';
    src: local("Gotham-Bold"), 
    url(./Gotham/Gotham-Bold.otf) format(otf),
    url(./Gotham/Gotham-Bold.ttf) format(ttf),
    url(./Gotham/Gotham-Bold.woff) format(woff);
        font-weight: bold;
}


.container {
    margin: 0 auto;
    padding: 0 0 70px;
    max-width: 1200px;
    width: 90%;
}

.logo {
    display: inline-block;
    max-width: 200px;
}

.navig {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 0;
}

.nav_list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-family: 'Montserrat';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
}

a {
    text-decoration: none;
}

.nav_list_item a {
    text-transform: capitalize;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    color: #2F281E;
}

.nav_list_item:first-child .navi_link {
    color: #FF9900;
}

.buttons {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    gap: 32px;

}

#sign_up {
    color: #fff;
    background-color: #F90;
}

#sign_in,
#sign_up {
    
font-family: Montserrat;
font-size: 16px;
font-weight: 600;
    font-size: 16px;
    font-weight: 600;
    border: 1px solid #BCD0E5;
    border-radius: 4px;
    max-width: 100%;
    padding: 13px 25px;
}

.first_sec, .prof {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    flex-wrap: wrap;
    gap: 1.5em;
    margin-top: 87px;

}
li{
    font-family: 'Montserrat';
    color: #2F281E;
}
.back_img, .image, .image_manager, .image_marketer {
    background-image: url('./img/Image.svg');
    background-repeat: no-repeat;
    background-size: auto;
    background-position: right;
    min-height: 85vh;
    max-width:  650px;
    width: 100%;
}

.text_part {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.main_txt {
    color: #2F281E;
    font-family: Montserrat;
    font-size: 44px;
    font-weight: 700;
}

.little_txt {
    color: #544837;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 400;
}

.start {
    font-family: 'Poppins';
    color: #fff;
    background-color: #F90;
    font-size: 16px;
    font-weight: 700;
    position: relative;
    border: 1px solid #BCD0E5;
    border-radius: 4px;
    max-width: 185px;
    padding: 13px 40px;
}

.tools {
    padding-top: 99px;
    text-align: center;
    margin-bottom: 104px;
}

.head_text {
    color: #2F281E;
    text-align: center;
    font-family: Montserrat;
    font-size: 36px;
    font-weight: 700;
    max-width: 539px;
    margin: 0 auto;
    padding-bottom: 50px;
}

.about_content {
    display: flex;
    gap: 50px;
    align-items: center;
    justify-content: center;

    text-align: left;
}

.bigger_tools_txt {
    color: #2F281E;
    font-family: Montserrat;
    font-size: 22px;
    font-weight: 600;
    padding-bottom: 16px;

}

.smaller_tools_txt {
    color: #544837;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 70px;

}

.icons {
    display: inline-flex;
    width: 50px;
    height: 50px;
    border-radius: 15px;
    background-color: #be52b0;
    margin-bottom: 30px;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 20px;
}

.item:nth-of-type(1n) .icons {
    background-color: #7752BE;
}

.item:nth-of-type(2n) .icons {
    background-color: #FAB005;
}

.item:nth-of-type(3n + 3) .icons {
    background-color: #F03E3D;
}

.item:nth-of-type(4n + 4) .icons {
    background-color: #4DADF7;
}

.page_wrapper {
    background-image: url(./img/bg.svg);
    background-repeat: no-repeat;
    background-position: bottom;
}

.but {
    display: inline-block;
    margin-bottom: 74px;
}

.prof {
    color: #544837;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 500;
    margin-top: 87px;
    margin-bottom: 100px;
}

.prof p {
    max-width: 525px;
}

.prof_head {
    color: #2F281E;
    font-size: 36px;
    font-weight: 700;
    padding-bottom: 20px;
}

.prof_down_head {
    margin-bottom: 40px;
}

.prof_list {
    display: inline-block;
    color: #2F281E;
}

.prof_list_item {
    font-weight: 700;
}
.prof_list_p{
    padding-top: 5px;
}
.text_part_prof{
    max-width: 505px;
}
.image {
    background-image: url('./img/prof.svg');
    max-width: 562px;
}
.image_manager{
    background-image: url('./img/managers.svg');
    max-width: 570px;
}
.image_marketer{
    background-image: url('./img/marketers.svg');
    max-width: 540px;
}
.prof_list p{
    margin-bottom:30px;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 500;
}
.icon_list_check{
    display: inline-flex;
    width: 35px;
    height: 35px;
    border-radius: 10px;
    background-color: #FF9900;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 20px;
}
.icon_list{
    display: flex;
    flex-direction: column;
    gap:30px;
}
.icon_list_item{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:30px;
}
.icon_list_item p{
    max-width: 440px;
}
footer{
    max-width: 8000px;
    border-top: 1px solid rgba(188, 208, 229, 0.50);
}
.container.foot{
    display: flex;
    justify-content: space-around;
    gap: 50px;
    margin:70px auto;
}
.column{
    max-width:340px;
}
.column:last-child{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
input{
    display: flex;
    justify-content: center;
    padding:0 10px;
    min-height: 50px;
    color: #BCD0E5;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 400;
    width: 100%;
    max-width:340px;
    box-sizing: border-box;
    border-radius: 4px;
    border: 1px solid #BCD0E5;
    margin-bottom: 25px;
}
input::placeholder{
    color: #BCD0E5;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 400;
}
.column_head_text, .column_head_special{
    color: #2F281E;
    font-family: 'Gotham';
    font-size: 20px;
    font-weight: 700;
    max-width: 280px;
    margin-bottom: 30px;
}
.column_head_special{
    margin-bottom: 25px;
}
.column_list{
    display: flex;
    flex-direction: column;
    gap:15px;
}