$lato:'Lato',sans-serif;
$hot:'Red Hat Display',sans-serif;
$light_grey:#7B7B7B;
$dark_grey:#565656;

.container{
    max-width: 1440px;
    width: 90%;
    margin: 0 auto;
}
.navi_head{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: 20px 135px;
}
.navi_logo_item{
    width: 142px;
    height: 12px;
}
.navi_search_item{
    width:18px;
    height:16px;
}
.navi_list{
    display: flex;
    gap: 42px;
    .navi_list_item{
        font-family: $lato;
        font-size: 14px;
        font-weight: 400;
        text-transform: uppercase;
    }
}
.bg_picture{
    display: flex;
    justify-content: center;
}
picture{
    width: auto;
    position: relative;
}
.over_text{
    font-family: $hot;
    font-size: 48px;
    position: absolute;
    top: 15%;
    left: 0;
    margin-left: 2em;
    max-width: 770px;
}
.blog{
    display: flex;
    justify-content: center;
    gap: 50px;
    flex-direction: column;
    max-width: 1170px;
    margin: 0 auto;
    margin-top: 90px;
}
.section_wrapper{
    display: flex;
}
.blog_head{
    font-family: $hot;
    font-size: 48px;
    font-weight: 400;
}
.blog_text_wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: $hot;
    font-size: 23px;
    font-weight: 500;
    margin: 0 30px;
    p{
        font-family: $lato;
        font-size: 16px;
        font-weight: 400;
        color: $light_grey;
    }
    .blog_main_text{
        color:$light_grey;
    }
}
.blog_head_text{
    padding-top: 30px;
    padding-bottom: 15px;
    max-width: 370px;
}
.blog_main_text{
max-width: 450px;
padding-top: 50px;
}
.posts_wrapper{
    display: flex;
}
.first_post{
    display: flex;
    max-width: 370px;
}