$lato:'Lato',sans-serif;
$hot:'Red Hat Display',sans-serif;
$light_grey:var(--grey-500, #7B7B7B);
$dark_grey: var(--grey-700, #565656);
body {
    padding-top: 60px; 
}
.container{
    width: 90%;
    margin: 0 auto;
    max-width: 1170px;
}
.navi_head{
    background-color: #fff;
    width: 100%;
    margin: 0 auto;
    display: flex;
    position: fixed;
    height: 60px;
    top: 0;
    justify-content: space-around;
    padding: 20px 135px;
    z-index: 3;
}
.navi_logo_item{
    width: 142px;
    height: 12px;
    position: relative;
    z-index: 5;
}
.navi_search_item{
    width:18px;
    height:16px;
    position: relative;
    z-index: 5;
}
.navi_container{
    display: flex;
    text-align: right;
}
.navi_list{
    display: flex;
    margin-left:auto;
    margin-right: 84px;
    gap: 42px;
    a{
        color: #000;
        position: relative;

        &:hover::before, &:first-child::before{
            content: "";
            position: absolute;
            width: 100%;
            height: 1px;
            bottom: 0;
            background-color: #000;
        }
    }
    .navi_list_item{
        font-family: $lato;
        font-size: 14px;
        font-weight: 400;
        text-transform: uppercase;
    }
}
.bg_picture{
    display: flex;
    justify-content: center;
}
picture{
    width: auto;
    position: relative;
}
.over_text{
    font-family: $hot;
    font-size: 48px;
    position: absolute;
    top: 15%;
    left: 0;
    margin-left: 2em;
    max-width: 770px;
}
.blog{
    display: flex;
    justify-content: center;
    gap: 50px;
    flex-direction: column;
    margin: 0 auto;
    margin-top: 90px;
}
.section_wrapper{
    display: flex;
    &.start{
        justify-content: flex-start;
    }
    &.end{
        justify-content: flex-end;
    }
}
.blog_head{
    font-family: $hot;
    font-size: 48px;
    font-weight: 400;
}
.blog_text_wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: $hot;
    font-size: 23px;
    font-weight: 500;
    margin: 0 30px;
    p{
        font-family: $lato;
        font-size: 16px;
        font-weight: 400;
        color: $light_grey;
    }
    .blog_main_text{
        color:$light_grey;
    }
}
.blog_head_text{
    padding-top: 30px;
    padding-bottom: 15px;
    max-width: 370px;
}
.blog_main_text{
max-width: 450px;
padding-top: 50px;
}
.posts{
    display: flex;
    flex-direction: column;
    margin-top: 90px;
    margin-bottom: 85px;
}
.head_wrapper{
    display: flex;
    justify-content: space-between;
}
.posts_wrapper{
    display: flex;
    gap: 30px;
}
.first_post{
    display: flex;
    width: 33.333%;
    flex-direction: column;
    &.popular{
        width: 50%;
    }
    .picture_wrapper{
        padding-bottom: 25px;
        box-sizing: border-box;
    }
}

.post_text_section{
    font-family: $lato;
    font-weight: 400;
    font-size: 16px;
    color:$dark_grey;
    .little_text_wrapper{
        display: flex;
        justify-content: space-between;
        margin-bottom: 25px;
    span{
        color: $light_grey;
        font-size: 12px;
    }
}
    h3{
        font-family:$hot;
        font-size: 22px;
        font-weight: 500;
        color:#000;
        padding-bottom: 20px;
    }
}
button{
    background: $dark_grey;
    padding: 9.5px 45px;
    width: auto;
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    font-family: $lato;
    text-transform: capitalize;
}
.load{
display: flex;
justify-content: center;
align-items: center;
margin: 0 auto;
margin-top: 50px;
margin-bottom: 90px;
border:none;
}
.head_wrapper{
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
    .posts_head{
        font-family: $hot;
        font-size: 28px;
        font-weight: 400;
    }
    .little_text{
        color:$light_grey;
        font-family: $lato;
        font-size: 16px;
        font-weight: 400;
    }
    .only_h_wrapper{
        display: flex;
        flex-direction: column;}
        h3{
        font-family: $hot;
        font-size: 23px;
        font-weight: 400;
    }
    .only_span_wrapper {
        display: flex;
        flex-direction: column;
        gap:30px;
        span,p{
        font-family: $lato;
        color: $dark_grey;
        font-size: 19px;
        font-weight: 400;
    }
}
}
.only_text_head, .only_span_wrapper{
    max-width: 470px;
}
footer{
    background-color: var(--grey-100, #F4F4F4);
    margin-top: 90px;
    padding: 70px 0 30px;
    
}
.footer_wrapper{
    display: flex;
    justify-content: space-between;
}
.text_wrapper{
    h2{
        font-family: $hot;
        font-size: 48px;
        font-weight: 400;
        padding-bottom: 30px;
    }
    p{
        font-family: $lato;
        font-size: 16px;
        font-weight: 400;
    }
}
.icon_wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:23px;
}
.icon{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    width: 50px;
    height: 50px;
    background-color: #fff;
    border: 1px solid $dark_grey;
    cursor: pointer;
    &:hover{
        background-color: $dark_grey;
        --social:#fff;
    }
svg{
    width: 24px;
    height: 24px;

}
.facebook{
width: 13px;
height: 24px;
}
.twitter{
width: 30px;
}
}
.arrow{
    width:34px; 
    height:12px;
    padding-left: 10px;

    &.last{
    padding: 0;
    }
}
.footer_copyright{
    display: flex;
    justify-content: center;
    font-family: $lato;
    font-size: 12px;
    font-weight: 400;
    margin-top: 20px;
}
@media (max-width: 767px){
    .header_burger{
        display: inline-block;
        position: relative;
        margin-left: 40px;
        width: 34px;
        height: 20px;
        position: relative;
        z-index: 5;
        span{
        content: '';
        background-color: #000;
        position: absolute;
        width: 100%;
        height: 2px;
        top:9px;
        }
    }
    .header_burger::before, .header_burger::after{
        content: '';
        background-color: #000;
        position: absolute;
        width: 100%;
        height: 2px;
        right: 0;
    }
    .header_burger::before{
        top: 0;
    }
    .header_burger::after{
        bottom:0;
    }

.nav_content{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #755555;
    padding: 70px 0 0 0;
    z-index: 2;
}
.navi_list{
    display: inline-block;
    margin-right: 0;
    .navi_list_item{
        padding: 20px 10px;
    }
}
}